* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  background: rgb(0, 0, 0);
  background: linear-gradient(7deg, rgba(0, 0, 0, 1) 0%, rgba(16, 54, 99, 1) 100%);
  border-radius: 12px;
  margin: 3rem auto 0;
  max-width: 450px;
  padding: 1.5rem;
}

.titulo-lista {
  border-bottom: 1px solid var(--color-border);
  padding: 0 1rem 1rem;
  text-align: center;

}

.cabeçalho,
.texto-adicione,
.texto-adicionado {
  color: var(--color-font);
}

.icone-formulario {
  align-items: center;
  display: flex;
}

#formulario-lista {
  margin: 1.5rem 0;
}

#afazeres-input,
#input-editar {
  border: 1.5px solid var(--color-border);
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  padding: 0.3rem 0.5rem;
}

button {
  align-items: center;
  background-color: var(--color-button);
  border: 2px solid var(--color-border);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0.3rem 0.5rem;
  transition: 0.5s;
}

button:hover {
  background-color: var(--color-button--hover);
}

button:hover>i {
  color: var(--color-font);
}

button i {
  font-weight: bold;
  pointer-events: none;
}

.esconder {
  display: none;
}

.formulario-edicao {
  display: flex;
}

.lista {
  align-items: center;
  display: flex;
  border-bottom: 1.2px solid var(--color-border);
  justify-content: space-around;
  padding: 1.3rem 1rem;
}

.lista button {
  margin-left: 1rem;
}

.texto-adicionado {
  flex: 1;
  font-size: 0.9rem;
}



.feito {
  background-color: var(--color-background--done);
}

.feito h3 {
  color: black;
  font-weight: 700;
  text-decoration: line-through;

}

.feito button {
  background-color: var(--color-button--done);

}

#lista-afazeres .feito {
  border: 1px solid var(--color-border);
  border-radius: 7px;
}

.cancelar-edicao {
  margin-left: 0.7rem;
}